{% section "our-story-1stslider" %}
{% section "image-content" %}
{% section "home-testmonial" %}
{% section "imageLeft-contentright" %}
{% section "our-story-2ndslider" %}
{% section "our-story-video" %}
{% section "usp" %}

<div class="page-content">
  {{ page.content }}
</div>

